@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-background {
  background: linear-gradient(135deg, #3b10d8 0%, #3f15d9 41.5%, #fef7f8 100%),
    radial-gradient(
      90.56% 90.56% at 100% 4.95%,
      #1bf8fd 0%,
      rgba(28, 241, 252, 0.6) 33.81%,
      rgba(159, 133, 243, 0.3) 66.14%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      41.76% 41.76% at 1.67% 16.67%,
      rgba(59, 16, 216, 0.8) 0%,
      rgba(59, 16, 216, 0) 100%
    );
  background-blend-mode: overlay;
}

/* styles.css */
.hover-gradient {
  transition: background 0.3s ease;
}

.hover-gradient:hover {
  background: linear-gradient(
    122.23deg,
    #fcf0f8 5.68%,
    #8b6de5 38.56%,
    #481fda 72.69%,
    #3b10d8 96.81%
  );
}

* {
  color: white;
}
